@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--- Navigation ---*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0,0,0,0,.6)!important;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffff;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

/*-- Landing Page --*/
.home-inner {
  /*ackground-image: url(img/computers.png);*/
  background-image: url(img/lake.jpg); /* Photo by Roberto Shumski from Pexels */

}
.caption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #ffff;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .7rem black;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .6rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*-- Education styling --*/
.title div {
  width: 100%;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.row {
  margin-bottom: 5rem;
}
.schooling h6 {
  font-weight: bold;
}
.schooling p {
  font-size: .9rem;
}

/*-- About Me styling --*/
.heading h3 {

}
.me img {
  width: 50%;
  border-radius: 50%;
  margin: 0;
}
.me p {
  margin-top: 0rem;
}
.me hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgBA(0,0,0,0.1);
}

/*-- Contact Styling --*/
.rbtn {
  float: right;
}

/*-- Links styling --*/
.fixed {
  background-image: url(img/waterandrocks.jpg);
  background-position: center;
  z-index: -1;
}
.dark {
  background-color: rgba(0,0,0,0.75);
}
h3.links-heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: white;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.link svg.svg-inline--fa, svg.svg-inline--fa.fa-w-16 {
  color: #1ebba3;
}
.link h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
}

/*-- portfolio styling --*/
.project-image img {
  width: 60%;
  height: auto;
}
.project-description h6 {
  font-weight: bold;
}
h3.portfolio-heading {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/*-- footer styling --*/
#footer {
  margin-bottom: 0;
  padding: 1rem;
}
footer {
  background-color: #ECEFF1;
}

/*-- Media Queries --*/
@@media (max-width 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;

}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover, .btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
